.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu {
  height: 100%;
  width: 300px;
}

.content {
  display: flex;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1C2755;
  color: #fff;
  padding: 20px 50px;
}

.logoutButton {
  color: #fff;
  cursor: pointer;
}
